.signalsMenuDiv {
    color: #acacac;
    padding: 10px 3%;
}

.signalsMenuTitle {
    color: white;
    font-size: 20px;
}

.signalsMenuContent {
    display: grid;
    margin: 10px auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    'left0 right0'
    'left1 right1'
    'left2 right2'
    'left3 right3'
    'left4 right4'
    'left5 right5';
}

.signalsMenuContent input {
    max-width: 100%;
    border: none;
    background: #e0e0e0;
    border-radius: 4px;
    margin: 3px 5px;
}

.signalErrorDiv {
    display: block;
    text-align: center;
    color: #75787d;
    margin: 10px auto;
    font-size: 15px;
}