.projectsListDiv {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.projectDiv {
    position: relative;
    margin: 10px 20px;
}

.projectSvg {
    min-width: 220px;
    min-height: 160px;
    height: 12vw;
    width: 16.6666666667vw;
    display: inline-block;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 9px -4px rgba(0,0,0,0.59); 
    box-shadow: 0px 5px 9px -4px rgba(0,0,0,0.59);
}

.projectRect {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    fill: #292f3b;
}

.projectName {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.buttonPosition {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.deleteProjectButton {
    background: none;
    border: none;
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.deleteProjectButtonImg {
    min-width: 30px;
    width: 2vw;
}

.deleteProjectButtonImg:hover {
    filter:  brightness(119%) contrast(119%);
}