.code-edit-container {
  position: relative;
  height: 100%;
}

.code-input, .code-output {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2%;
  margin: 0;
  width: 96%;
  height: 100%;
  line-height: 1.5em;
  font-size: 1rem;
  background: transparent;
  border: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.code-input {
  color: white;
  opacity: 0.3;
  line-height: 1.5em;
  font-size: 1rem;
  z-index: 10;
}

.code-output {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code-edit-container > code[class*="language-"],
.code-edit-container pre[class*="language-"] {
  background: transparent;
  margin: 0;
  padding: 0 2%;
}